.header{
    background-color: #3d1803f3;
    width: 100%;
    position: absolute;
}

li{
    float: right;
    list-style-type: none;
}

li a{
    text-decoration: none;
    padding: 10px;
    color: white;
    margin-top: 30px;
}

#one{
    background-color: tomato;
    padding: 10px;
    margin-top: -10px;
}

.pa1{
    background-color: rgba(61, 24, 3, 0.952);
    width: 100%;
    height: 659px;
}

.pa2{
    color: white;
    margin-left: 50px;
}

#p1{
    margin-left: 155px;
    margin-top: -30px;
}

#p2{
    margin-left: 300px;
    margin-top: -17px;
}

#p3{
    color: white;
    font-size: 100px;
    margin-left: 100px;
    margin-top: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#pa3{
    color: white;
    font-family:Arial, Helvetica, sans-serif ;
    margin-top: -280px;
    margin-left: 100px;
    font-size: 20px;
}

#pa4{
    background-color: rgba(245, 95, 8, 0.733);
    padding:20px; 
    width: 100px;
    color: white;
    margin-left: 100px;
    margin-top: 50px;
}

#pa5{
    margin-left: 819px;
    margin-top: -200px;
}

.Page2{
    margin-top: 600px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 3px 3px;
    width: 100%;
    height: 549px;
    position: absolute;
}

#F1{
    font-size: 50px;
    color: chocolate;
    margin-top: 100px;
    margin-left: 100px;
}

#F2{
    margin-left: 100px;
    margin-top: 50px;
    margin-left: 100px;
    font-size: 20px;
}

#Photo1{
    background-image: url("/Images/BeachHouse2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 500px;
    margin-left: 900px;
    margin-top: -300px;
}

#F4{
    margin-left: 100px;
    padding-top: 167px;
}

#F5{
    background-color:  rgba(107, 41, 3, 0.733);
    padding:20px; 
    width: 100px;
    color: white;
    margin-left: 100px;
    margin-top: -150px;
}

footer{
    padding-top: 1200px;
}
/* li a {
    text-decoration: none;
    color: black;
    cursor: wait;
}

ol {
    list-style-type: none;
    padding: 5px;
}*/

i {
    color: black;
    /* padding-top: 1230px; */
} 

.address, p, h6 {
    color: rgba(212, 105, 16, 0.87);
}

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content {
    display: flex;
    justify-content: center;
}

.address {
    margin-left: 10%;
}

.navbr {
    margin-left: 10%;
}

.eco {
    margin-left: 10%;
}

.container {
    background-color: rgba(235, 202, 57, 0.938);
    text-align: center;
    width: 7%;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    position: relative;
    margin: auto;
    padding: 20px;
    color: white;
    font-size: 30px;
}

h1 {
    color: rgb(240, 102, 10);
}

.everything {
    display: flex;
}

#sub {
    background-color: rgb(240, 102, 10);
    color: white;
    padding: 10px;
    width: 500px;
}

.two {
    margin-left: 6%;
}

.one {
    margin-left: 20%;
}

#Room {
    width: 500px;
    padding: 20px;
    font-size: 14px;
}

.date {
    position: absolute;
    right: 35%;
    top: 10%;
}

.month {
    position: absolute;
    right: 35%;
    top: 18%;
}